<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-wrap w-full mb-20">
        <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
          <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">Exclusive Gallery Sales</h1>
          <div class="h-1 w-20 bg-red-500 rounded"></div>
        </div>
        <p class="lg:w-1/2 w-full leading-relaxed text-gray-500">"Transform your space into a blooming paradise with our exquisite fresh flower vases! Elevate any room with a touch of natural beauty and elegance. Each vase is meticulously crafted to showcase your favorite blooms in their full glory, adding a splash of color and fragrance to your home or office. Treat yourself or a loved one to the timeless charm of our stunning flower vases and let the beauty of nature brighten your day."
        </p>
      </div>
      <div class="flex flex-wrap -m-4">
        <div class="xl:w-1/4 md:w-1/2 p-4">
          <div class="bg-gray-100 p-6 rounded-lg">
            <img class="h-40 rounded w-full object-cover object-center mb-6" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQCLPsOENUh7oxw2yM7-Mvj-ob_rG_yuxrEdw&usqp=CAU" alt="content">
            <h3 class="tracking-widest text-red-500 text-xs font-medium title-font">EXCLUSIVE</h3>
            <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Ceramic</h2>
            <p class="leading-relaxed text-base">"Elevate your space with timeless elegance."</p>
          </div>
        </div>
        <div class="xl:w-1/4 md:w-1/2 p-4">
          <div class="bg-gray-100 p-6 rounded-lg">
            <img class="h-40 rounded w-full object-cover object-center mb-6" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTiX6END4XPGhn2AB6vWM0325pWszXMnbLWKw&usqp=CAU" alt="content">
            <h3 class="tracking-widest text-red-500 text-xs font-medium title-font">EXCLUSIVE</h3>
            <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Gloss</h2>
            <p class="leading-relaxed text-base">See through and beyound with the love of glass.</p>
          </div>
        </div>
        <div class="xl:w-1/4 md:w-1/2 p-4">
          <div class="bg-gray-100 p-6 rounded-lg">
            <img class="h-40 rounded w-full object-cover object-center mb-6" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTr5vOZ4hkdmhYLdx4fLlOg0N-Wt13FflfL0g&usqp=CAU" alt="content">
            <h3 class="tracking-widest text-red-500 text-xs font-medium title-font">EXCLUSIVE</h3>
            <h2 class="text-lg text-gray-900 font-medium title-font mb-4">White pearl</h2>
            <p class="leading-relaxed text-base">Give your room an expensive look with the grace of white.</p>
          </div>
        </div>
        <div class="xl:w-1/4 md:w-1/2 p-4">
          <div class="bg-gray-100 p-6 rounded-lg">
            <img class="h-40 rounded w-full object-cover object-center mb-6" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTJu4_cwmXkcZcDiU7WJbRO0aVigxzJm6t0dg&usqp=CAU" alt="content">
            <h3 class="tracking-widest text-red-500 text-xs font-medium title-font">EXCLUSIVE</h3>
            <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Pink Psyche</h2>
            <p class="leading-relaxed text-base">Soft and kind!Add pink to your place.</p>
          </div>
        </div>
      </div>
    </div>
    <button class="flex mx-auto text-white bg-red-500 border-0 py-2 px-8 focus:outline-none
     hover:bg-red-600 rounded text-lg mb-3" routerLink="/contact">Contact</button>
  </section>